<header
  class="bg-gray-900 text-white py-4 px-8 flex items-center justify-between"
>
  <!-- Logo as a Link with Division Bar -->
  <a href="/" class="flex items-center">
    <img src="/assets/images/FindMyDuo_Logo.png" alt="Logo" class="w-24 h-24 mr-4" />
    <div class="h-16 w-0.5 bg-gray-600 mx-4"></div>
    <!-- Division Bar -->
  </a>

  <!-- Navigation -->
  <nav class="absolute top-4 right-8 flex items-center space-x-4">
    <a href="/gameList" class="text-white hover:text-gray-400 px-4 py-2 border border-gray-300">View All</a>
    {{> login_logout_button}}
    {{>signup_button}}
  </nav>

  <!-- Secondary Text Links -->
  <div
    class="md:absolute md:right-8 md:top-16 md:flex md:items-center md:justify-between md:w-3/4 md:mr-20"
  >


    {{#each randomGames}}
      <a href="/api/games/{{ id }}" class="flex items-center p-4 ">
      <img src="{{ cover_art }}" alt="{{ title }}" class="h-8 w-auto mr-4">
      <div>
        <h2 class="text-sm font-bold">{{ title }}</h2>
      </div>
    </a>
    {{/each}}

  </div>

</header>



