{{#if loggedIn}}
  <button
    id="logout"
    class="btn-no-style px-4 py-2 border border-gray-300"
  >Logout</button>
{{else}}
  <a
    href="/login"
    class="btn-no-style px-4 py-2 border border-gray-300"
  >Login</a>
{{/if}}