<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="/css/output.css" />
  </head>

  <body class="bg-gray-900 text-white">
    <header>

      <nav>
        {{! <a href="/">Home</a> }}
        {{!-- {{#if loggedIn}}
          <button id="logout" class="btn-no-style">Logout</button>
        {{else}}
          <a href="/login">Login</a>
        {{/if}} --}}
      </nav>
    </header>

    <main>
      {{! Render sub-layout }}
      {{{body}}}
    </main>

    {{! Render logout script only if user is logged in }}
    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>

</html>