<div class="mt-8 px-8">
  <a
    href="/"
    class="btn-no-style font-bold px-4 py-2 border bg-gray-700 border-gray-300"
  >Home</a>
</div>

<div class="min-h-screen flex flex-col items-center justify-center">
  <img src="/assets/images/FindMyDuo_Logo.png" alt="Logo" class="h-64 mb-8" />

  <!-- Signup Form -->
  <form
    class="w-full max-w-md p-6 bg-gray-100 rounded-lg shadow-md text-black create-chat-form"
  >
    <h2 class="font-bold text-3xl text-center mb-6">
      Create Duo Request for
      {{game.title}}</h2>
    {{! <div class="mb-4">
      <label
        for="username"
        class="block text-gray-700 font-bold mb-2"
      >Username:</label>
      <input
        class="form-input w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-900"
        type="text"
        id="username"
      />
    </div> }}

    <input type="hidden" id="user-id" value="{{user_id}}" />

    <div class="mb-4">
      <label
        for="chatroom-name"
        class="block text-gray-700 font-bold mb-2"
      >Chatroom Name:</label>
      <input
        class="form-input w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-900"
        type="text"
        id="chatroom-name"
      />
    </div>

    {{! <div class="mb-4">
      <label for="rank" class="block text-gray-700 font-bold mb-2">Rank:</label>
      <input
        class="form-input w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-900"
        type="text"
        id="rank"
      />
    </div>
    <div class="mb-4">
      <label
        for="position"
        class="block text-gray-700 font-bold mb-2"
      >Position:</label>
      <input
        class="form-input w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-900"
        type="text"
        id="position"
      />
    </div>
    <div class="mb-4">
      <label
        for="comment"
        class="block text-gray-700 font-bold mb-2"
      >Comment:</label>
      <textarea
        class="form-input w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-900 h-32 resize-none"
        id="comment"
      ></textarea>
    </div> }}
    <div>
      <button
        class="btn w-full bg-gray-900 text-white font-bold py-2 px-4 rounded-md focus:outline-none focus:shadow-outline"
        type="submit"
      >Create Post</button>
    </div>
  </form>
</div>

<script src="/js/create_chatroom.js"></script>