{{! <h1>This is Homepage.handlebars</h1>
<a href="/chatboard">chatboard</a>
<button id="logout" class="btn-no-style">Logout</button>
<a href="/login">Login</a>
<a href="/chatboard">View chatboard of a game</a>
<a href="/gameList">View all gameList</a> }}

<!-- Header -->
<header
  class="bg-gray-900 text-white py-4 px-6 flex justify-between items-center"
>
  <div></div>
  <!-- This empty div is a placeholder to align the header content to the right -->
  <div>
    <a href="/login" class="mr-4">Login</a>
    <a href="/signup">Signup</a>
  </div>
</header>

<!-- Body -->
<div class="container mx-auto mt-8">
  <div class="flex flex-col items-center">
    <!-- Logo Section (Centered) -->
    <img src="/path/to/logo.png" alt="Logo" class="w-96 w-96 mb-16" />

    <!-- Search Section -->
    <div
      class="w-full md:w-3/4 flex flex-wrap items-center justify-between mb-16"
    >
      <input
        type="text"
        placeholder="Search..."
        class="w-full md:w-2/3 border-gray-300 border-solid border-2 p-2 rounded-lg mb-2"
      />
      <button
        class="bg-gray-900 text-white px-4 py-2 rounded-lg ml-2"
      >Search</button>
      <a
        href="/gameList"
        class="bg-gray-900 text-white px-4 py-2 rounded-lg ml-2"
      >View All</a>
    </div>

    <!-- Directlink Section -->
    {{! links should be pulled from db and direct to chatboard }}
    <div class="grid grid-cols-2 md:grid-cols-4 gap-8 mt-8">
      <a
        href="/link1"
        class="bg-gray-900 p-2 shadow-md rounded-lg flex flex-col items-center justify-center"
      >
        <img
          src="/path/to/image1.jpg"
          alt="Image 1"
          class="w-16 h-16 object-cover mb-2"
        />
        <span class="text-center text-sm">Image Name 1</span>
      </a>
      <a
        href="/link2"
        class="bg-gray-900 p-2 shadow-md rounded-lg flex flex-col items-center justify-center"
      >
        <img
          src="/path/to/image2.jpg"
          alt="Image 2"
          class="w-16 h-16 object-cover mb-2"
        />
        <span class="text-center text-sm">Image Name 2</span>
      </a>
      <a
        href="/link3"
        class="bg-gray-900 p-2 shadow-md rounded-lg flex flex-col items-center justify-center"
      >
        <img
          src="/path/to/image3.jpg"
          alt="Image 3"
          class="w-16 h-16 object-cover mb-2"
        />
        <span class="text-center text-sm">Image Name 3</span>
      </a>
      <a
        href="/link4"
        class="bg-gray-900 p-2 shadow-md rounded-lg flex flex-col items-center justify-center"
      >
        <img
          src="/path/to/image4.jpg"
          alt="Image 4"
          class="w-16 h-16 object-cover mb-2"
        />
        <span class="text-center text-sm">Image Name 4</span>
      </a>
    </div>

  </div>
</div>