{{! <h1>This is Homepage.handlebars</h1>
<a href="/chatboard">chatboard</a>
<button id="logout" class="btn-no-style">Logout</button>
<a href="/login">Login</a>
<a href="/chatboard">View chatboard of a game</a>
<a href="/gameList">View all gameList</a> }}

<!-- Header -->
<header
  class="bg-gray-900 text-white py-4 px-6 flex justify-between items-center"
>
  <div></div>
  <!-- This empty div is a placeholder to align the header content to the right -->
  <div>
    {{!-- <a href="/login" class="mr-4">Login</a> --}}
    {{> login_logout_button }}
    {{>signup_button}}
  </div>
</header>

<!-- Body -->
<div class="container mx-auto mt-8">
  <div class="flex flex-col items-center">
    <!-- Logo Section (Centered) -->
    <img src="/assets/images/FindMyDuo_Logo.png" alt="Logo" class="w-96 w-96 mb-16" />

    <!-- Search Section -->
    <div
      class="w-full md:w-3/4 flex flex-wrap items-center text-black justify-between mb-16"
    >
      <input
        type="text"
        placeholder="Search..."
        class="w-full md:w-2/3 border-gray-300 border-solid border-2 p-2 rounded-lg mb-2"
      />
      <button
        class="bg-gray-900 text-white px-4 py-2 rounded-lg ml-2 border border-gray-300"
      >Search</button>
      <a
        href="/gameList"
        class="bg-gray-900 text-white px-4 py-2 rounded-lg ml-2 border border-gray-300"
      >View All</a>
    </div>

    <!-- Directlink Section -->
    {{! links should be pulled from db and direct to chatboard }}
    <div class="grid grid-cols-2 md:grid-cols-4 gap-8 mt-8">
      {{!-- <a
        href="api/games/1"
        class="bg-gray-900 p-2 shadow-md rounded-lg flex flex-col items-center justify-center"
      >
        <img
          src="/assets/images/league-of-legends.webp"
          alt="League of Legends logo"
          class="w-16 h-16 object-cover mb-2"
        />
        <span class="text-center text-sm">League of Legends</span>
      </a>
      <a
        href="api/games/2"
        class="bg-gray-900 p-2 shadow-md rounded-lg flex flex-col items-center justify-center"
      >
        <img
          src="/assets/images/Valorant_3.png"
          alt="Valorant logo"
          class="w-16 h-16 object-cover mb-2"
        />
        <span class="text-center text-sm">Valorant</span>
      </a>
      <a
        href="api/games/3"
        class="bg-gray-900 p-2 shadow-md rounded-lg flex flex-col items-center justify-center"
      >
        <img
          src="/assets/images/XDEFIANT.jpeg"
          alt="XDefiant logo"
          class="w-16 h-16 object-cover mb-2"
        />
        <span class="text-center text-sm">XDefiant</span>
      </a>
      <a
        href="api/games/4"
        class="bg-gray-900 p-2 shadow-md rounded-lg flex flex-col items-center justify-center"
      >
        <img
          src="/assets/images/codmw3.jpg"
          alt="CoD: Modern Warfare III logo"
          class="w-16 h-16 object-cover mb-2"
        />
        <span class="text-center text-sm">Call of Duty: Modern Warfare III</span>
      </a> --}}

      {{#each games}}
      <a href="api/games/{{this.id}}" class="bg-gray-900 p-2 shadow-md rounded-lg flex flex-col items-center justify-center">
        <img src="{{this.cover_art}}" alt="Image of {{this.title}}" class="w-16 h-16 object-cover mb-2" />
        <span class="text-center text-sm">{{this.title}}</span>
      </a>
      {{/each}}
    </div>

  </div>
</div>